@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, rgb(188, 172, 241), rgb(108, 80, 242));
}
.cover {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.container {
    background-color: #e2dff2;
    width: 25%;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 8px 8px 12px 0px #5b5964d5;
}
.top {
    margin-bottom: 40px;
    text-align: right;
    border-radius: 20px;
    border-bottom: 2px solid #cdcadd;
    padding: 40px 50px;
    box-shadow: 0px 5px 7px 1px #cdcadd;
    font-family: 'Poppins', sans-serif;
    height: 50px;
}
.current {
    font-weight: 700;
    margin-top: 5px;
}
button {
    border-radius: 50%;
    border: 0;
    font-size: 20px;
    padding: 13px 19px 12px 19px;
    cursor: pointer;
    outline: 0;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
i {
    font-size: 15px;
}
.zero {
    width: 37%;
    border-radius: 30px;
}
.ac {
    font-size: 15px; 
    padding: 15px 15px;
}
.del {
    padding: 13px 15px;
}
.sym {
    width: 49.13px;
    box-shadow: 3px 3px 13px 5px #a89bed, -6px -6px 13px 5px #FFFFFF;
    background-color: #5e40fa;
    color: white;
}
.sym:active {
    box-shadow:  inset 6px 6px 5px #312182, 
    inset -6px -6px 5px #8b5fff;
}
.lol {
    width: 49.13px;
    color: #604bca;
}
.no_tap {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dec {
    font-weight: bolder;
    color: black;
}
.num {
    box-shadow: 3px 3px 13px 5px rgba(0, 0, 0, 0.199), -3px -3px 13px 5px #FFFFFF;
    background-color: #e2dff2;
}
.num:active {
    box-shadow:  inset 6px 6px 7px #5a5961, 
    inset -6px -6px 7px #ffffff;
}
p.text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #eeedf5;
    margin-top: 20px;
    margin-right: 20px;
}
p.txt {
    padding-bottom: 60px;
}
a {
    color: inherit;
}
a:hover {
    color: rgba(255, 0, 0, 0.767);
}
.mobile {
    display: none;
}
.desktop {
    margin-top: 40px;
    padding-bottom: 90px;
}

/* Media Queries*/
@media (max-width: 1024px){
    .container {
        width: 35%;
    }
}
@media (max-width: 769px){
    .container {
        width: 50%;
    }
}
@media (max-width: 530px){
    .container {
        width: 75%;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
@media (max-width: 320px){
    .container {
        width: 80%;
    }
}