@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,600;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body {
    background: linear-gradient(to right, rgb(188, 172, 241), rgb(108, 80, 242));
}
.cover {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.container {
    background-color: #e2dff2;
    width: 25%;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 8px 8px 12px 0px #5b5964d5, -1px -1px 20px 0px #ffffffc2;
}
.top {
    margin-bottom: 40px;
    text-align: right;
    border-radius: 20px;
    border-bottom: 2px solid #cdcadd;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 5px 7px 1px #cdcadd;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
p.mic {
    color: #5e40fa;
    margin-left: 10px;
    font-size: 18px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
    outline: 0;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.inside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75px;
    box-shadow: inset 7px 7px 18px #a09eacc7, 
            inset -7px -7px 18px #ffffff;
    border-radius: 6px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

input:checked + .slider {
    background-color: #5f40faa8;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.current {
    font-weight: 700;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 18px;
    height: 27px;
}
.previous {
    word-wrap: break-word;
    word-break: break-all;
}
button {
    border-radius: 50%;
    border: 0;
    font-size: 20px;
    padding: 13px 19px 13px 19px;
    cursor: pointer;
    outline: 0;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
i {
    font-size: 15px;
}
.zero {
    width: 37% !important;
    border-radius: 30px !important;
}
.ac {
    font-size: 15px; 
    padding: 15px 15px;
    font-weight: 700;
}
.del {
    padding: 13px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sym {
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 15px #4f35d0c9, 
    -5px -5px 10px #ffffff;
    background-color: #5e40fa;
    color: white;
    font-weight: 700;
    font-size: 25px;
}
span.ex {
    font-size: 21px;
}
span.minus {
    font-size: 35px;
}
button.sym {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sym:active {
    box-shadow:  inset 6px 6px 5px #312182, 
    inset -6px -6px 5px #8b5fff;
}
.lol {
    width: 49.13px;
    color: #604bca;
}
.no_tap {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dec {
    font-weight: bolder;
    color: black;
}
.num {
    box-shadow:     5px 5px 17px #bcb9c9, 
    -5px -5px 17px #ffffff;
    background-color: #e2dff2;
    width: 50px;
    height: 50px;
}
.num:active {
    box-shadow:  inset 6px 6px 7px #5a5961, 
    inset -6px -6px 7px #ffffff;
}
p.text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #eeedf5;
    margin-top: 20px;
    margin-right: 20px;
}
p.txt {
    padding-bottom: 60px;
}
a {
    color: inherit;
    font-weight: 600;
}
a:hover {
    color: rgba(255, 0, 0, 0.767);
}
.mobile {
    display: none;
    font-family: 'Poppins', sans-serif;
}
.desktop {
    margin-top: 40px;
    padding-bottom: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

/* Media Queries*/
@media (max-width: 1024px){
    .container {
        width: 35%;
    }
}
@media (max-width: 769px){
    .container {
        width: 50%;
    }
}
@media (max-width: 530px){
    .container {
        width: 80%;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}